/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

/**
 *
 */

 $color-a: red;
 $color-b: blue;
 $color-c: grey;
 $color-d: green; 
 $color-e: purple;

$color-primary: red;
$color-secundary: blue;