/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

/**
 * o-object-name[element|modifier]
 *
 * o-color-red
 * o-layut__col
 * o-container--fixed
 *
 */


 .o-container{
     max-width: 100%;
     width: 1200px;
     display: block;
     margin: 0 auto;     
}